<p id="notice"><%= notice %></p>

<h1>Grades</h1>

<table class="container table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>cat 1</th>
      <th>cat 2</th>
      <th>cat 3</th>
      <th>Score</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student.grades.each do |grade| %>
      <tr>
        <td><%= grade.subject.name %></td>
        <td><%= grade.cat1%></td>
        <td><%= grade.cat2%></td>
        <td><%= grade.cat3%></td>
        <td><%= grade.score %></td>
        <td><%= grade.grade %></td>
        <td><%= link_to 'Show', student_grade_path(@student.id, grade.id) %></td>
        <td><%= link_to 'Edit', edit_student_grade_path(@student.id, grade.id) %></td>
        <td><%= link_to 'Destroy', student_grade_path(@student.id , grade.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_student_grade_path %>
