<p id="notice"><%= notice %></p>

<%= @grade.exam.name %>
<%= @grade.subject.name %>
<p>
  <strong>Score:</strong>
  <%= @grade.score %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<%= link_to 'Edit', edit_student_grade_path %> |
<%= link_to 'Back', student_grades_path %>
