<div class="row">
  <div class="col-md-5">
<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.file_field :picture %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_name, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :fee %>
    <%= form.number_field :fee, id: :student_fee, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :dormitory %>
    <%= form.text_field :dormitory, id: :student_dormitory, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :clubs %>
    <%= form.text_field :clubs, id: :student_clubs , class: "form-control"%>

  <div class="field">
    <%= form.label :stream %>
    <%= collection_select(:student, :stream_id, Stream.all, :id, :name_with_state) %>
  </div>
  <div class="field">
    <%= form.label :subjects %>
    <%= collection_check_boxes(:student, :subject_ids, @subjects, :id, :name) %>
</div>

  <div class="actions">
    <%= form.submit class: "btn btn-default" %>
  </div>
<% end %>
</div>
</div>
