<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @student.picture_url.to_s%>
</p>
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
<p>
  <strong>Stream:</strong>
  <%= @student.stream.level %>  <%= @student.stream.stream %>

</p>

<p>
  <strong>Fee:</strong>
  <%= @student.fee %>
</p>

<p>
  <strong>Dormitory:</strong>
  <%= @student.dormitory %>
</p>

<p>
  <strong>Clubs:</strong>
  <%= @student.clubs %>
</p>
<p>
  <strong>Subject Names:</strong>
  <%= @student.subjects.map {|c| c.name}.join(', ') %>
</p>


<%= link_to 'Grades', student_grades_path(@student) %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
