<p id="notice"><%= notice %></p>

  <div class="row container">
    <div class="col-md-6">
      <h2 class="h2 text-primary">Student Details</h2>
      <h4 class="text-success">Name: <em><%= @student.name%></em></h4>
      <br>
      <h4 class="text-success">Level: <em><%= @student.stream.level%></em></h4>
      <br>
      <h4 class="text-success">Stream: <em><%= @student.stream.stream%></em></h4>
      <br>
      <h4 class="text-success">Fee: <em><%= @student.fee%></em></h4>
      <br>
      <h4 class="text-success">Dormitory: <em><%= @student.dormitory%></em></h4>
      <br>
      <h4 class="text-success">Clubs: <em><%= @student.clubs%></em></h4>
  <h4 class="text-primary">
      <strong>Subject Names:</strong><br><br>
      <%= @student.subjects.map {|c| c.name}.join(', ') %>
    </h4>

    </div>

    <div class="col-md-6">
      <h3>Assignments</h3>
      <% @assignments.each do |assignment|%>
        <h4><%= assignment.subject%></h4><br>
        <h4><%= assignment.assignment_details%></h4>
        <h4><%= assignment.due_date%></h4>
      <% end %>
      <p>
        <strong> Student Picture:</strong><br>

        <%= image_tag @student.picture_url.to_s, class:"img-thumbnail img-responsive", alt:"...", style:"width:30%; height:50%"%>

      </p>
    </div>

  </div>
<%= link_to 'Grades', student_grades_path(@student) %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> |
