<p id="notice"><%= notice %></p>

<div class="">


<div class="student_show">
<p>
  <strong> Student Picture:</strong>

<%= image_tag @student.picture_url.to_s, class:"img-circle img-responsive", alt:"...", style:"width:30%; height:50%"%>

</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>


<p>
  <strong>Level:</strong>
  <%= @student.level %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @student.stream %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @student.fee %>
</p>

<p>
  <strong>Dormitory:</strong>
  <%= @student.dormitory %>
</p>

<p>
  <strong>Clubs:</strong>
  <%= @student.clubs %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
