<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @stream.level.level %>

  <h2>Students</h2>
  <% @stream.students.each do |student| %>
    <%= student.name %>
  <% end %>

</p>

<p>
  <strong>Stream:</strong>
  <%= @stream.stream %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
