<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @stream.level.level %>

  <h3><strong>Students</strong></h3>
  <% @stream.students.each do |student| %>
  <ul>

  <li><%= student.name %> </l1>
  </ul>
  <% end %>

</p>

<p>
  <strong>Stream:</strong>
  <%= @stream.stream %>
</p>

<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
