<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

  <% @teachers.each do |teacher| %>
  <div class="container row">
  <div class="col-md-6">
    <div class="mode">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag teacher.picture_url.to_s, class:"img-thumbnail img-responsive"%>
        </div>
  <div class="col-md-6">
    <h3><em>Name:<%= teacher.name %></em></h3>
    <h3><em>Role:<%= teacher.role %></em></h3>
    <h3><em>Subjects:<% teacher.subjects.each do |subject| %>
        <%= subject.name%>,
        <% end %>
      </em></h3>
  </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.role %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
