<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  
</p>
<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @teacher.role %>
</p>
  <p><% @teacher.subjects.each do |subject| %>
    <%= subject.name%>
    <% end %>
  </p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
