<%= form_with(model: school, :html => {:multipart => true}) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :school_name %>
  </div>
  <div class="">
   School Logo:<%= form.file_field :picture %>
  </div>

  <%= form.fields_for :school_attachments do |p| %>
     <div class="field">
       <%= p.label :avatar %><br>
       <%= p.file_field :avatar, :multiple => true, name: "school_attachments[avatar][]" %>
     </div>
   <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
